/* Jumbotron */
.jumbotron-small {
  min-height: 320px;
}

.jumbotron-medium {
  min-height: 576px;
}

.jumbotron-large {
  min-height: 768px;
}

.jumbotron-xlarge {
  min-height: 992px;
}

.jumbotron-full-height {
  min-height: 100vh;
}
