/* Helpers - Spacing */

/* Margin */
.m-6 {
  margin: 4rem !important;
}

.m-t-6,
.m-y-6 {
  margin-top: 4rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 4rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 4rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-t-7,
.m-y-7 {
  margin-top: 5rem !important;
}

.mr-7,
.mx-7 {
  margin-right: 5rem !important;
}

.mb-7,
.my-7 {
  margin-bottom: 5rem !important;
}

.ml-7,
.mx-7 {
  margin-left: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

.m-t-8,
.m-y-8 {
  margin-top: 6rem !important;
}

.mr-8,
.mx-8 {
  margin-right: 6rem !important;
}

.mb-8,
.my-8 {
  margin-bottom: 6rem !important;
}

.ml-8,
.mx-8 {
  margin-left: 6rem !important;
}

.m-9 {
  margin: 7rem !important;
}

.m-t-9,
.m-y-9 {
  margin-top: 7rem !important;
}

.mr-9,
.mx-9 {
  margin-right: 7rem !important;
}

.mb-9,
.my-9 {
  margin-bottom: 7rem !important;
}

.ml-9,
.mx-9 {
  margin-left: 7rem !important;
}

.m-10 {
  margin: 8rem !important;
}

.m-t-10,
.m-y-10 {
  margin-top: 8rem !important;
}

.mr-10,
.mx-10 {
  margin-right: 8rem !important;
}

.mb-10,
.my-10 {
  margin-bottom: 8rem !important;
}

.ml-10,
.mx-10 {
  margin-left: 8rem !important;
}

.m-n6 {
  margin: -4rem !important;
}

.m-t-n6,
.m-y-n6 {
  margin-top: -4rem !important;
}

.mr-n6,
.mx-n6 {
  margin-right: -4rem !important;
}

.mb-n6,
.my-n6 {
  margin-bottom: -4rem !important;
}

.ml-n6,
.mx-n6 {
  margin-left: -4rem !important;
}

.m-n7 {
  margin: -5rem !important;
}

.m-t-n7,
.m-y-n7 {
  margin-top: -5rem !important;
}

.mr-n7,
.mx-n7 {
  margin-right: -5rem !important;
}

.mb-n7,
.my-n7 {
  margin-bottom: -5rem !important;
}

.ml-n7,
.mx-n7 {
  margin-left: -5rem !important;
}

.m-n8 {
  margin: -6rem !important;
}

.m-t-n8,
.m-y-n8 {
  margin-top: -6rem !important;
}

.mr-n8,
.mx-n8 {
  margin-right: -6rem !important;
}

.mb-n8,
.my-n8 {
  margin-bottom: -6rem !important;
}

.ml-n8,
.mx-n8 {
  margin-left: -6rem !important;
}

.m-n9 {
  margin: -7rem !important;
}

.m-t-n9,
.m-y-n9 {
  margin-top: -7rem !important;
}

.mr-n9,
.mx-n9 {
  margin-right: -7rem !important;
}

.mb-n9,
.my-n9 {
  margin-bottom: -7rem !important;
}

.ml-n9,
.mx-n9 {
  margin-left: -7rem !important;
}

.m-n10 {
  margin: -8rem !important;
}

.m-t-n10,
.m-y-n10 {
  margin-top: -8rem !important;
}

.mr-n10,
.mx-n10 {
  margin-right: -8rem !important;
}

.mb-n10,
.my-n10 {
  margin-bottom: -8rem !important;
}

.ml-n10,
.mx-n10 {
  margin-left: -8rem !important;
}

/* Padding */
.p-6 {
  padding: 4rem !important;
}

.p-t-6,
.p-y-6 {
  padding-top: 4rem !important;
}

.pr-6,
.px-6 {
  padding-right: 4rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 4rem !important;
}

.pl-6,
.px-6 {
  padding-left: 4rem !important;
}

.p-7 {
  padding: 5rem !important;
}

.p-t-7,
.p-y-7 {
  padding-top: 5rem !important;
}

.pr-7,
.px-7 {
  padding-right: 5rem !important;
}

.pb-7,
.py-7 {
  padding-bottom: 5rem !important;
}

.pl-7,
.px-7 {
  padding-left: 5rem !important;
}

.p-8 {
  padding: 6rem !important;
}

.p-t-8,
.p-y-8 {
  padding-top: 6rem !important;
}

.pr-8,
.px-8 {
  padding-right: 6rem !important;
}

.pb-8,
.py-8 {
  padding-bottom: 6rem !important;
}

.pl-8,
.px-8 {
  padding-left: 6rem !important;
}

.p-9 {
  padding: 7rem !important;
}

.p-t-9,
.p-y-9 {
  padding-top: 7rem !important;
}

.pr-9,
.px-9 {
  padding-right: 7rem !important;
}

.pb-9,
.py-9 {
  padding-bottom: 7rem !important;
}

.pl-9,
.px-9 {
  padding-left: 7rem !important;
}

.p-10 {
  padding: 8rem !important;
}

.p-t-10,
.p-y-10 {
  padding-top: 8rem !important;
}

.pr-10,
.px-10 {
  padding-right: 8rem !important;
}

.pb-10,
.py-10 {
  padding-bottom: 8rem !important;
}

.pl-10,
.px-10 {
  padding-left: 8rem !important;
}

@media (min-width: 576px) {
  /* Margin */
  .m-sm-6 {
    margin: 4rem !important;
  }

  .m-sm-t-6,
  .m-sm-y-6 {
    margin-top: 4rem !important;
  }

  .mr-sm-6,
  .mx-sm-6 {
    margin-right: 4rem !important;
  }

  .mb-sm-6,
  .my-sm-6 {
    margin-bottom: 4rem !important;
  }

  .ml-sm-6,
  .mx-sm-6 {
    margin-left: 4rem !important;
  }

  .m-sm-7 {
    margin: 5rem !important;
  }

  .m-sm-t-7,
  .m-sm-y-7 {
    margin-top: 5rem !important;
  }

  .mr-sm-7,
  .mx-sm-7 {
    margin-right: 5rem !important;
  }

  .mb-sm-7,
  .my-sm-7 {
    margin-bottom: 5rem !important;
  }

  .ml-sm-7,
  .mx-sm-7 {
    margin-left: 5rem !important;
  }

  .m-sm-8 {
    margin: 6rem !important;
  }

  .m-sm-t-8,
  .m-sm-y-8 {
    margin-top: 6rem !important;
  }

  .mr-sm-8,
  .mx-sm-8 {
    margin-right: 6rem !important;
  }

  .mb-sm-8,
  .my-sm-8 {
    margin-bottom: 6rem !important;
  }

  .ml-sm-8,
  .mx-sm-8 {
    margin-left: 6rem !important;
  }

  .m-sm-9 {
    margin: 7rem !important;
  }

  .m-sm-t-9,
  .m-sm-y-9 {
    margin-top: 7rem !important;
  }

  .mr-sm-9,
  .mx-sm-9 {
    margin-right: 7rem !important;
  }

  .mb-sm-9,
  .my-sm-9 {
    margin-bottom: 7rem !important;
  }

  .ml-sm-9,
  .mx-sm-9 {
    margin-left: 7rem !important;
  }

  .m-sm-10 {
    margin: 8rem !important;
  }

  .m-sm-t-10,
  .m-sm-y-10 {
    margin-top: 8rem !important;
  }

  .mr-sm-10,
  .mx-sm-10 {
    margin-right: 8rem !important;
  }

  .mb-sm-10,
  .my-sm-10 {
    margin-bottom: 8rem !important;
  }

  .ml-sm-10,
  .mx-sm-10 {
    margin-left: 8rem !important;
  }

  .m-sm-n6 {
    margin: -4rem !important;
  }

  .m-sm-t-n6,
  .m-sm-y-n6 {
    margin-top: -4rem !important;
  }

  .mr-sm-n6,
  .mx-sm-n6 {
    margin-right: -4rem !important;
  }

  .mb-sm-n6,
  .my-sm-n6 {
    margin-bottom: -4rem !important;
  }

  .ml-sm-n6,
  .mx-sm-n6 {
    margin-left: -4rem !important;
  }

  .m-sm-n7 {
    margin: -5rem !important;
  }

  .m-sm-t-n7,
  .m-sm-y-n7 {
    margin-top: -5rem !important;
  }

  .mr-sm-n7,
  .mx-sm-n7 {
    margin-right: -5rem !important;
  }

  .mb-sm-n7,
  .my-sm-n7 {
    margin-bottom: -5rem !important;
  }

  .ml-sm-n7,
  .mx-sm-n7 {
    margin-left: -5rem !important;
  }

  .m-sm-n8 {
    margin: -6rem !important;
  }

  .m-sm-t-n8,
  .m-sm-y-n8 {
    margin-top: -6rem !important;
  }

  .mr-sm-n8,
  .mx-sm-n8 {
    margin-right: -6rem !important;
  }

  .mb-sm-n8,
  .my-sm-n8 {
    margin-bottom: -6rem !important;
  }

  .ml-sm-n8,
  .mx-sm-n8 {
    margin-left: -6rem !important;
  }

  .m-sm-n9 {
    margin: -7rem !important;
  }

  .m-sm-t-n9,
  .m-sm-y-n9 {
    margin-top: -7rem !important;
  }

  .mr-sm-n9,
  .mx-sm-n9 {
    margin-right: -7rem !important;
  }

  .mb-sm-n9,
  .my-sm-n9 {
    margin-bottom: -7rem !important;
  }

  .ml-sm-n9,
  .mx-sm-n9 {
    margin-left: -7rem !important;
  }

  .m-sm-n10 {
    margin: -8rem !important;
  }

  .m-sm-t-n10,
  .m-sm-y-n10 {
    margin-top: -8rem !important;
  }

  .mr-sm-n10,
  .mx-sm-n10 {
    margin-right: -8rem !important;
  }

  .mb-sm-n10,
  .my-sm-n10 {
    margin-bottom: -8rem !important;
  }

  .ml-sm-n10,
  .mx-sm-n10 {
    margin-left: -8rem !important;
  }

  /* Padding */
  .p-sm-6 {
    padding: 4rem !important;
  }

  .p-sm-t-6,
  .p-sm-y-6 {
    padding-top: 4rem !important;
  }

  .pr-sm-6,
  .px-sm-6 {
    padding-right: 4rem !important;
  }

  .pb-sm-6,
  .py-sm-6 {
    padding-bottom: 4rem !important;
  }

  .pl-sm-6,
  .px-sm-6 {
    padding-left: 4rem !important;
  }

  .p-sm-7 {
    padding: 5rem !important;
  }

  .p-sm-t-7,
  .p-sm-y-7 {
    padding-top: 5rem !important;
  }

  .pr-sm-7,
  .px-sm-7 {
    padding-right: 5rem !important;
  }

  .pb-sm-7,
  .py-sm-7 {
    padding-bottom: 5rem !important;
  }

  .pl-sm-7,
  .px-sm-7 {
    padding-left: 5rem !important;
  }

  .p-sm-8 {
    padding: 6rem !important;
  }

  .p-sm-t-8,
  .p-sm-y-8 {
    padding-top: 6rem !important;
  }

  .pr-sm-8,
  .px-sm-8 {
    padding-right: 6rem !important;
  }

  .pb-sm-8,
  .py-sm-8 {
    padding-bottom: 6rem !important;
  }

  .pl-sm-8,
  .px-sm-8 {
    padding-left: 6rem !important;
  }

  .p-sm-9 {
    padding: 7rem !important;
  }

  .p-sm-t-9,
  .p-sm-y-9 {
    padding-top: 7rem !important;
  }

  .pr-sm-9,
  .px-sm-9 {
    padding-right: 7rem !important;
  }

  .pb-sm-9,
  .py-sm-9 {
    padding-bottom: 7rem !important;
  }

  .pl-sm-9,
  .px-sm-9 {
    padding-left: 7rem !important;
  }

  .p-sm-10 {
    padding: 8rem !important;
  }

  .p-sm-t-10,
  .p-sm-y-10 {
    padding-top: 8rem !important;
  }

  .pr-sm-10,
  .px-sm-10 {
    padding-right: 8rem !important;
  }

  .pb-sm-10,
  .py-sm-10 {
    padding-bottom: 8rem !important;
  }

  .pl-sm-10,
  .px-sm-10 {
    padding-left: 8rem !important;
  }
}

@media (min-width: 768px) {
  /* Margin */
  .m-md-6 {
    margin: 4rem !important;
  }

  .m-md-t-6,
  .m-md-y-6 {
    margin-top: 4rem !important;
  }

  .mr-md-6,
  .mx-md-6 {
    margin-right: 4rem !important;
  }

  .mb-md-6,
  .my-md-6 {
    margin-bottom: 4rem !important;
  }

  .ml-md-6,
  .mx-md-6 {
    margin-left: 4rem !important;
  }

  .m-md-7 {
    margin: 5rem !important;
  }

  .m-md-t-7,
  .m-md-y-7 {
    margin-top: 5rem !important;
  }

  .mr-md-7,
  .mx-md-7 {
    margin-right: 5rem !important;
  }

  .mb-md-7,
  .my-md-7 {
    margin-bottom: 5rem !important;
  }

  .ml-md-7,
  .mx-md-7 {
    margin-left: 5rem !important;
  }

  .m-md-8 {
    margin: 6rem !important;
  }

  .m-md-t-8,
  .m-md-y-8 {
    margin-top: 6rem !important;
  }

  .mr-md-8,
  .mx-md-8 {
    margin-right: 6rem !important;
  }

  .mb-md-8,
  .my-md-8 {
    margin-bottom: 6rem !important;
  }

  .ml-md-8,
  .mx-md-8 {
    margin-left: 6rem !important;
  }

  .m-md-9 {
    margin: 7rem !important;
  }

  .m-md-t-9,
  .m-md-y-9 {
    margin-top: 7rem !important;
  }

  .mr-md-9,
  .mx-md-9 {
    margin-right: 7rem !important;
  }

  .mb-md-9,
  .my-md-9 {
    margin-bottom: 7rem !important;
  }

  .ml-md-9,
  .mx-md-9 {
    margin-left: 7rem !important;
  }

  .m-md-10 {
    margin: 8rem !important;
  }

  .m-md-t-10,
  .m-md-y-10 {
    margin-top: 8rem !important;
  }

  .mr-md-10,
  .mx-md-10 {
    margin-right: 8rem !important;
  }

  .mb-md-10,
  .my-md-10 {
    margin-bottom: 8rem !important;
  }

  .ml-md-10,
  .mx-md-10 {
    margin-left: 8rem !important;
  }

  .m-md-n6 {
    margin: -4rem !important;
  }

  .m-md-t-n6,
  .m-md-y-n6 {
    margin-top: -4rem !important;
  }

  .mr-md-n6,
  .mx-md-n6 {
    margin-right: -4rem !important;
  }

  .mb-md-n6,
  .my-md-n6 {
    margin-bottom: -4rem !important;
  }

  .ml-md-n6,
  .mx-md-n6 {
    margin-left: -4rem !important;
  }

  .m-md-n7 {
    margin: -5rem !important;
  }

  .m-md-t-n7,
  .m-md-y-n7 {
    margin-top: -5rem !important;
  }

  .mr-md-n7,
  .mx-md-n7 {
    margin-right: -5rem !important;
  }

  .mb-md-n7,
  .my-md-n7 {
    margin-bottom: -5rem !important;
  }

  .ml-md-n7,
  .mx-md-n7 {
    margin-left: -5rem !important;
  }

  .m-md-n8 {
    margin: -6rem !important;
  }

  .m-md-t-n8,
  .m-md-y-n8 {
    margin-top: -6rem !important;
  }

  .mr-md-n8,
  .mx-md-n8 {
    margin-right: -6rem !important;
  }

  .mb-md-n8,
  .my-md-n8 {
    margin-bottom: -6rem !important;
  }

  .ml-md-n8,
  .mx-md-n8 {
    margin-left: -6rem !important;
  }

  .m-md-n9 {
    margin: -7rem !important;
  }

  .m-md-t-n9,
  .m-md-y-n9 {
    margin-top: -7rem !important;
  }

  .mr-md-n9,
  .mx-md-n9 {
    margin-right: -7rem !important;
  }

  .mb-md-n9,
  .my-md-n9 {
    margin-bottom: -7rem !important;
  }

  .ml-md-n9,
  .mx-md-n9 {
    margin-left: -7rem !important;
  }

  .m-md-n10 {
    margin: -8rem !important;
  }

  .m-md-t-n10,
  .m-md-y-n10 {
    margin-top: -8rem !important;
  }

  .mr-md-n10,
  .mx-md-n10 {
    margin-right: -8rem !important;
  }

  .mb-md-n10,
  .my-md-n10 {
    margin-bottom: -8rem !important;
  }

  .ml-md-n10,
  .mx-md-n10 {
    margin-left: -8rem !important;
  }

  /* Padding */
  .p-md-6 {
    padding: 4rem !important;
  }

  .p-md-t-6,
  .p-md-y-6 {
    padding-top: 4rem !important;
  }

  .pr-md-6,
  .px-md-6 {
    padding-right: 4rem !important;
  }

  .pb-md-6,
  .py-md-6 {
    padding-bottom: 4rem !important;
  }

  .pl-md-6,
  .px-md-6 {
    padding-left: 4rem !important;
  }

  .p-md-7 {
    padding: 5rem !important;
  }

  .p-md-t-7,
  .p-md-y-7 {
    padding-top: 5rem !important;
  }

  .pr-md-7,
  .px-md-7 {
    padding-right: 5rem !important;
  }

  .pb-md-7,
  .py-md-7 {
    padding-bottom: 5rem !important;
  }

  .pl-md-7,
  .px-md-7 {
    padding-left: 5rem !important;
  }

  .p-md-8 {
    padding: 6rem !important;
  }

  .p-md-t-8,
  .p-md-y-8 {
    padding-top: 6rem !important;
  }

  .pr-md-8,
  .px-md-8 {
    padding-right: 6rem !important;
  }

  .pb-md-8,
  .py-md-8 {
    padding-bottom: 6rem !important;
  }

  .pl-md-8,
  .px-md-8 {
    padding-left: 6rem !important;
  }

  .p-md-9 {
    padding: 7rem !important;
  }

  .p-md-t-9,
  .p-md-y-9 {
    padding-top: 7rem !important;
  }

  .pr-md-9,
  .px-md-9 {
    padding-right: 7rem !important;
  }

  .pb-md-9,
  .py-md-9 {
    padding-bottom: 7rem !important;
  }

  .pl-md-9,
  .px-md-9 {
    padding-left: 7rem !important;
  }

  .p-md-10 {
    padding: 8rem !important;
  }

  .p-md-t-10,
  .p-md-y-10 {
    padding-top: 8rem !important;
  }

  .pr-md-10,
  .px-md-10 {
    padding-right: 8rem !important;
  }

  .pb-md-10,
  .py-md-10 {
    padding-bottom: 8rem !important;
  }

  .pl-md-10,
  .px-md-10 {
    padding-left: 8rem !important;
  }
}

@media (min-width: 992px) {
    /* Margin */
  .m-lg-6 {
    margin: 4rem !important;
  }

  .m-lg-t-6,
  .m-lg-y-6 {
    margin-top: 4rem !important;
  }

  .mr-lg-6,
  .mx-lg-6 {
    margin-right: 4rem !important;
  }

  .mb-lg-6,
  .my-lg-6 {
    margin-bottom: 4rem !important;
  }

  .ml-lg-6,
  .mx-lg-6 {
    margin-left: 4rem !important;
  }

  .m-lg-7 {
    margin: 5rem !important;
  }

  .m-lg-t-7,
  .m-lg-y-7 {
    margin-top: 5rem !important;
  }

  .mr-lg-7,
  .mx-lg-7 {
    margin-right: 5rem !important;
  }

  .mb-lg-7,
  .my-lg-7 {
    margin-bottom: 5rem !important;
  }

  .ml-lg-7,
  .mx-lg-7 {
    margin-left: 5rem !important;
  }

  .m-lg-8 {
    margin: 6rem !important;
  }

  .m-lg-t-8,
  .m-lg-y-8 {
    margin-top: 6rem !important;
  }

  .mr-lg-8,
  .mx-lg-8 {
    margin-right: 6rem !important;
  }

  .mb-lg-8,
  .my-lg-8 {
    margin-bottom: 6rem !important;
  }

  .ml-lg-8,
  .mx-lg-8 {
    margin-left: 6rem !important;
  }

  .m-lg-9 {
    margin: 7rem !important;
  }

  .m-lg-t-9,
  .m-lg-y-9 {
    margin-top: 7rem !important;
  }

  .mr-lg-9,
  .mx-lg-9 {
    margin-right: 7rem !important;
  }

  .mb-lg-9,
  .my-lg-9 {
    margin-bottom: 7rem !important;
  }

  .ml-lg-9,
  .mx-lg-9 {
    margin-left: 7rem !important;
  }

  .m-lg-10 {
    margin: 8rem !important;
  }

  .m-lg-t-10,
  .m-lg-y-10 {
    margin-top: 8rem !important;
  }

  .mr-lg-10,
  .mx-lg-10 {
    margin-right: 8rem !important;
  }

  .mb-lg-10,
  .my-lg-10 {
    margin-bottom: 8rem !important;
  }

  .ml-lg-10,
  .mx-lg-10 {
    margin-left: 8rem !important;
  }

  .m-lg-n6 {
    margin: -4rem !important;
  }

  .m-lg-t-n6,
  .m-lg-y-n6 {
    margin-top: -4rem !important;
  }

  .mr-lg-n6,
  .mx-lg-n6 {
    margin-right: -4rem !important;
  }

  .mb-lg-n6,
  .my-lg-n6 {
    margin-bottom: -4rem !important;
  }

  .ml-lg-n6,
  .mx-lg-n6 {
    margin-left: -4rem !important;
  }

  .m-lg-n7 {
    margin: -5rem !important;
  }

  .m-lg-t-n7,
  .m-lg-y-n7 {
    margin-top: -5rem !important;
  }

  .mr-lg-n7,
  .mx-lg-n7 {
    margin-right: -5rem !important;
  }

  .mb-lg-n7,
  .my-lg-n7 {
    margin-bottom: -5rem !important;
  }

  .ml-lg-n7,
  .mx-lg-n7 {
    margin-left: -5rem !important;
  }

  .m-lg-n8 {
    margin: -6rem !important;
  }

  .m-lg-t-n8,
  .m-lg-y-n8 {
    margin-top: -6rem !important;
  }

  .mr-lg-n8,
  .mx-lg-n8 {
    margin-right: -6rem !important;
  }

  .mb-lg-n8,
  .my-lg-n8 {
    margin-bottom: -6rem !important;
  }

  .ml-lg-n8,
  .mx-lg-n8 {
    margin-left: -6rem !important;
  }

  .m-lg-n9 {
    margin: -7rem !important;
  }

  .m-lg-t-n9,
  .m-lg-y-n9 {
    margin-top: -7rem !important;
  }

  .mr-lg-n9,
  .mx-lg-n9 {
    margin-right: -7rem !important;
  }

  .mb-lg-n9,
  .my-lg-n9 {
    margin-bottom: -7rem !important;
  }

  .ml-lg-n9,
  .mx-lg-n9 {
    margin-left: -7rem !important;
  }

  .m-lg-n10 {
    margin: -8rem !important;
  }

  .m-lg-t-n10,
  .m-lg-y-n10 {
    margin-top: -8rem !important;
  }

  .mr-lg-n10,
  .mx-lg-n10 {
    margin-right: -8rem !important;
  }

  .mb-lg-n10,
  .my-lg-n10 {
    margin-bottom: -8rem !important;
  }

  .ml-lg-n10,
  .mx-lg-n10 {
    margin-left: -8rem !important;
  }

  /* Padding */
  .p-lg-6 {
    padding: 4rem !important;
  }

  .p-lg-t-6,
  .p-lg-y-6 {
    padding-top: 4rem !important;
  }

  .pr-lg-6,
  .px-lg-6 {
    padding-right: 4rem !important;
  }

  .pb-lg-6,
  .py-lg-6 {
    padding-bottom: 4rem !important;
  }

  .pl-lg-6,
  .px-lg-6 {
    padding-left: 4rem !important;
  }

  .p-lg-7 {
    padding: 5rem !important;
  }

  .p-lg-t-7,
  .p-lg-y-7 {
    padding-top: 5rem !important;
  }

  .pr-lg-7,
  .px-lg-7 {
    padding-right: 5rem !important;
  }

  .pb-lg-7,
  .py-lg-7 {
    padding-bottom: 5rem !important;
  }

  .pl-lg-7,
  .px-lg-7 {
    padding-left: 5rem !important;
  }

  .p-lg-8 {
    padding: 6rem !important;
  }

  .p-lg-t-8,
  .p-lg-y-8 {
    padding-top: 6rem !important;
  }

  .pr-lg-8,
  .px-lg-8 {
    padding-right: 6rem !important;
  }

  .pb-lg-8,
  .py-lg-8 {
    padding-bottom: 6rem !important;
  }

  .pl-lg-8,
  .px-lg-8 {
    padding-left: 6rem !important;
  }

  .p-lg-9 {
    padding: 7rem !important;
  }

  .p-lg-t-9,
  .p-lg-y-9 {
    padding-top: 7rem !important;
  }

  .pr-lg-9,
  .px-lg-9 {
    padding-right: 7rem !important;
  }

  .pb-lg-9,
  .py-lg-9 {
    padding-bottom: 7rem !important;
  }

  .pl-lg-9,
  .px-lg-9 {
    padding-left: 7rem !important;
  }

  .p-lg-10 {
    padding: 8rem !important;
  }

  .p-lg-t-10,
  .p-lg-y-10 {
    padding-top: 8rem !important;
  }

  .pr-lg-10,
  .px-lg-10 {
    padding-right: 8rem !important;
  }

  .pb-lg-10,
  .py-lg-10 {
    padding-bottom: 8rem !important;
  }

  .pl-lg-10,
  .px-lg-10 {
    padding-left: 8rem !important;
  }
}

@media (min-width: 1200px) {
    /* Margin */
  .m-xg-6 {
    margin: 4rem !important;
  }

  .m-xg-t-6,
  .m-xg-y-6 {
    margin-top: 4rem !important;
  }

  .mr-xg-6,
  .mx-xg-6 {
    margin-right: 4rem !important;
  }

  .mb-xg-6,
  .my-xg-6 {
    margin-bottom: 4rem !important;
  }

  .ml-xg-6,
  .mx-xg-6 {
    margin-left: 4rem !important;
  }

  .m-xg-7 {
    margin: 5rem !important;
  }

  .m-xg-t-7,
  .m-xg-y-7 {
    margin-top: 5rem !important;
  }

  .mr-xg-7,
  .mx-xg-7 {
    margin-right: 5rem !important;
  }

  .mb-xg-7,
  .my-xg-7 {
    margin-bottom: 5rem !important;
  }

  .ml-xg-7,
  .mx-xg-7 {
    margin-left: 5rem !important;
  }

  .m-xg-8 {
    margin: 6rem !important;
  }

  .m-xg-t-8,
  .m-xg-y-8 {
    margin-top: 6rem !important;
  }

  .mr-xg-8,
  .mx-xg-8 {
    margin-right: 6rem !important;
  }

  .mb-xg-8,
  .my-xg-8 {
    margin-bottom: 6rem !important;
  }

  .ml-xg-8,
  .mx-xg-8 {
    margin-left: 6rem !important;
  }

  .m-xg-9 {
    margin: 7rem !important;
  }

  .m-xg-t-9,
  .m-xg-y-9 {
    margin-top: 7rem !important;
  }

  .mr-xg-9,
  .mx-xg-9 {
    margin-right: 7rem !important;
  }

  .mb-xg-9,
  .my-xg-9 {
    margin-bottom: 7rem !important;
  }

  .ml-xg-9,
  .mx-xg-9 {
    margin-left: 7rem !important;
  }

  .m-xg-10 {
    margin: 8rem !important;
  }

  .m-xg-t-10,
  .m-xg-y-10 {
    margin-top: 8rem !important;
  }

  .mr-xg-10,
  .mx-xg-10 {
    margin-right: 8rem !important;
  }

  .mb-xg-10,
  .my-xg-10 {
    margin-bottom: 8rem !important;
  }

  .ml-xg-10,
  .mx-xg-10 {
    margin-left: 8rem !important;
  }

  .m-xg-n6 {
    margin: -4rem !important;
  }

  .m-xg-t-n6,
  .m-xg-y-n6 {
    margin-top: -4rem !important;
  }

  .mr-xg-n6,
  .mx-xg-n6 {
    margin-right: -4rem !important;
  }

  .mb-xg-n6,
  .my-xg-n6 {
    margin-bottom: -4rem !important;
  }

  .ml-xg-n6,
  .mx-xg-n6 {
    margin-left: -4rem !important;
  }

  .m-xg-n7 {
    margin: -5rem !important;
  }

  .m-xg-t-n7,
  .m-xg-y-n7 {
    margin-top: -5rem !important;
  }

  .mr-xg-n7,
  .mx-xg-n7 {
    margin-right: -5rem !important;
  }

  .mb-xg-n7,
  .my-xg-n7 {
    margin-bottom: -5rem !important;
  }

  .ml-xg-n7,
  .mx-xg-n7 {
    margin-left: -5rem !important;
  }

  .m-xg-n8 {
    margin: -6rem !important;
  }

  .m-xg-t-n8,
  .m-xg-y-n8 {
    margin-top: -6rem !important;
  }

  .mr-xg-n8,
  .mx-xg-n8 {
    margin-right: -6rem !important;
  }

  .mb-xg-n8,
  .my-xg-n8 {
    margin-bottom: -6rem !important;
  }

  .ml-xg-n8,
  .mx-xg-n8 {
    margin-left: -6rem !important;
  }

  .m-xg-n9 {
    margin: -7rem !important;
  }

  .m-xg-t-n9,
  .m-xg-y-n9 {
    margin-top: -7rem !important;
  }

  .mr-xg-n9,
  .mx-xg-n9 {
    margin-right: -7rem !important;
  }

  .mb-xg-n9,
  .my-xg-n9 {
    margin-bottom: -7rem !important;
  }

  .ml-xg-n9,
  .mx-xg-n9 {
    margin-left: -7rem !important;
  }

  .m-xg-n10 {
    margin: -8rem !important;
  }

  .m-xg-t-n10,
  .m-xg-y-n10 {
    margin-top: -8rem !important;
  }

  .mr-xg-n10,
  .mx-xg-n10 {
    margin-right: -8rem !important;
  }

  .mb-xg-n10,
  .my-xg-n10 {
    margin-bottom: -8rem !important;
  }

  .ml-xg-n10,
  .mx-xg-n10 {
    margin-left: -8rem !important;
  }

  /* Padding */
  .p-xg-6 {
    padding: 4rem !important;
  }

  .p-xg-t-6,
  .p-xg-y-6 {
    padding-top: 4rem !important;
  }

  .pr-xg-6,
  .px-xg-6 {
    padding-right: 4rem !important;
  }

  .pb-xg-6,
  .py-xg-6 {
    padding-bottom: 4rem !important;
  }

  .pl-xg-6,
  .px-xg-6 {
    padding-left: 4rem !important;
  }

  .p-xg-7 {
    padding: 5rem !important;
  }

  .p-xg-t-7,
  .p-xg-y-7 {
    padding-top: 5rem !important;
  }

  .pr-xg-7,
  .px-xg-7 {
    padding-right: 5rem !important;
  }

  .pb-xg-7,
  .py-xg-7 {
    padding-bottom: 5rem !important;
  }

  .pl-xg-7,
  .px-xg-7 {
    padding-left: 5rem !important;
  }

  .p-xg-8 {
    padding: 6rem !important;
  }

  .p-xg-t-8,
  .p-xg-y-8 {
    padding-top: 6rem !important;
  }

  .pr-xg-8,
  .px-xg-8 {
    padding-right: 6rem !important;
  }

  .pb-xg-8,
  .py-xg-8 {
    padding-bottom: 6rem !important;
  }

  .pl-xg-8,
  .px-xg-8 {
    padding-left: 6rem !important;
  }

  .p-xg-9 {
    padding: 7rem !important;
  }

  .p-xg-t-9,
  .p-xg-y-9 {
    padding-top: 7rem !important;
  }

  .pr-xg-9,
  .px-xg-9 {
    padding-right: 7rem !important;
  }

  .pb-xg-9,
  .py-xg-9 {
    padding-bottom: 7rem !important;
  }

  .pl-xg-9,
  .px-xg-9 {
    padding-left: 7rem !important;
  }

  .p-xg-10 {
    padding: 8rem !important;
  }

  .p-xg-t-10,
  .p-xg-y-10 {
    padding-top: 8rem !important;
  }

  .pr-xg-10,
  .px-xg-10 {
    padding-right: 8rem !important;
  }

  .pb-xg-10,
  .py-xg-10 {
    padding-bottom: 8rem !important;
  }

  .pl-xg-10,
  .px-xg-10 {
    padding-left: 8rem !important;
  }
}
