/* Typography */
html {
  font-size: 16px;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
.text--body {
  font-size: var(--type-body);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
}

strong {
  font-weight: 700;
}

.h1 {
  font-size: var(--type-h1);
}

.h2 {
  font-size: var(--type-h2);
}

.h3 {
  font-size: var(--type-h3);
}

.h4 {
  font-size: var(--type-h4);
}

.h5 {
  font-size: var(--type-h5);
}

.h6 {
  font-size: var(--type-h6);
}

.text--small {
  font-size: var(--type-small);
}

.text--caption {
  font-size: var(--type-caption);
}

.text--overline {
  font-size: var(--type-overline);
}
